@if(user){
    <form #editForm="ngForm" (ngSubmit)="updateProfile()" autocomplete="off">
        <h2 class="text-center">Sign up</h2>
        <hr>
        <div class="mb-3 form-floating">
            <input 
                type="text"
                class="form-control"
                name="userName"
                [(ngModel)]="user.userName"
                placeholder="Username"
                >
            <label>Username</label>
        </div>
        <div class="mb-3 form-floating">
            <input 
                type="text"
                class="form-control"
                name="knownas"
                [(ngModel)]="user.knownAs"
                placeholder="Known as"
                >
            <label>Known As</label>
        </div>
        <div class="form-group text-center">
            <button class="btn btn-success btn-block" type="submit">Update</button>
        </div>
    </form>
}
