<style>
  ::ng-deep .custom-small-btn {
    scale: 0.8;
    padding: 0.4rem 0.8rem;
  }
</style>

<div *ngIf="!batch"></div>
<div class="file-container">
  @if(batch){
  <div class="row">
    <div class="col-6">
      <form
        id="uploadOrderFileForm"
        #uploadOrderFileForm="ngForm"
        autocomplete="off"
        (ngSubmit)="uploadOrderFile()"
      >
        <div class="mb-3">
          <!-- <label for="formFileMultiple" class="form-label">Select multiple files..</label> -->
          <div class="input-group-text bg-white">
            <p-button
              type="submit"
              label="Upload New Order Files"
              class="btn btn-success input-group-text me-3 py-1 text-white"
              id="basic-addon2"
            />
            <input
              class="form-control form-control-sm"
              type="file"
              id="formFileMultiple"
              (change)="onFileSelected($event)"
              multiple
            />
          </div>
        </div>
      </form>
    </div>
  </div>

  @if(errorMessage){
  <div class="row mb-3">
    <div class="col-12">
      <p-panel
        header="Error Message"
        [toggleable]="true"
        [collapsed]="true"
        styleClass="p-panel-danger"
      >
        <div class="p-3">
          <i class="pi pi-exclamation-triangle me-2"></i>
          {{ errorMessage }}
        </div>
      </p-panel>
    </div>
  </div>
  }

  <p-table
    [value]="orderFiles"
    dataKey="id"
    [responsive]="true"
    [columns]="orderFileCols"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col }}
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-orderFile let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="orderFile"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td>{{ orderFile.fileName }}</td>
        <td>{{ orderFile.status }}</td>
        <td>{{ orderFile.personalQuantity }}</td>
        <td>{{ orderFile.commercialQuantity }}</td>
        <td>
          <p-button
            label="Delete"
            icon="pi pi-trash"
            severity="danger"
            (click)="onDeleteOrderFile(orderFile.id)"
            styleClass="p-button-rounded p-button-raised p-button-sm custom-small-btn me-1"
          >
          </p-button>
          <p-button
            label="Validate"
            icon="pi pi-check-circle"
            severity="info"
            (click)="onValidateOrderFile(orderFile.id)"
            [disabled]="!canBeValidate(orderFile)"
            styleClass="p-button-rounded p-button-raised p-button-sm custom-small-btn mx-1"
          >
          </p-button>
          <p-button
            label="Process"
            icon="pi pi-play"
            severity="success"
            [disabled]="!canOrderFileBeProcess(orderFile)"
            (click)="onProcessOrderFile(orderFile.id)"
            styleClass="p-button-rounded p-button-raised p-button-sm custom-small-btn ms-1"
          >
          </p-button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-orderFile>
      <tr>
        <td colspan="7">
          <div>
            <p-table [value]="orderFile.checkOrders" dataKey="id">
              <ng-template pTemplate="header">
                <tr>
                  <th *ngFor="let col of checkOrderCols">
                    {{ col.columnName }}
                  </th>
                </tr>
              </ng-template>
              <ng-template pTemplate="body" let-checkOrder>
                <tr
                  [class.on-hold-row]="checkOrder.isOnHold"
                  [pTooltip]="
                    checkOrder.isOnHold ? 'This check order is on hold' : ''
                  "
                  tooltipPosition="top"
                >
                  <td>
                    <i
                      *ngIf="checkOrder.isOnHold"
                      class="pi pi-exclamation-triangle text-warning me-2"
                    ></i>
                    {{ checkOrder.accountNumber }}
                  </td>
                  <td>{{ checkOrder.brstn }}</td>
                  <td>{{ checkOrder.mainAccountName }}</td>
                  <td>{{ checkOrder.quantity }}</td>
                  <td>{{ checkOrder.deliverTo }}</td>
                  <td>{{ checkOrder.errorMessage }}</td>
                  <td>
                    <p-button
                      label="Hold"
                      *ngIf="
                        !checkOrder.isOnHold &&
                        !checkOrder.isValid &&
                        !orderFileIsCompleted(orderFile)
                      "
                      icon="pi pi-exclamation-triangle"
                      severity="warning"
                      (click)="onHoldCheckOrder(orderFile.id, checkOrder.id)"
                      styleClass="p-button-rounded p-button-raised p-button-sm custom-small-btn me-1"
                    />
                    <p-button
                      label="Edit"
                      *ngIf="
                        !checkOrder.isOnHold && !orderFileIsCompleted(orderFile)
                      "
                      icon="pi pi-pencil"
                      severity="info"
                      styleClass="p-button-rounded p-button-raised p-button-sm custom-small-btn me-1"
                    />
                    <p-button
                      label="Delete"
                      icon="pi pi-trash"
                      *ngIf="!orderFileIsCompleted(orderFile)"
                      severity="danger"
                      (click)="onDeleteCheckOrder(orderFile.id, checkOrder.id)"
                      styleClass="p-button-rounded p-button-raised p-button-sm custom-small-btn me-1"
                    />
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
  }
</div>
<div class="col-12 flex justify-content-end">
  <p-button
    type="button"
    label="Validate Batch"
    icon="pi pi-check-circle"
    styleClass="p-button-rounded p-button-raised p-button-m custom-medium-btn mx-1"
    (click)="validateAll()"
    [disabled]="!canBeValidateByBatch(orderFiles)"
  />
  <p-button
    type="button"
    label="Process Batch"
    icon="pi pi-play"
    styleClass="p-button-rounded p-button-raised p-button-m custom-medium-btn mx-1"
    (click)="processAll()"
  />
</div>
<p-dialog
  [header]="'Warning' + '&nbsp;'"
  [modal]="true"
  [(visible)]="visibleDialog"
  [style]="{ width: '25rem', textAlign: 'center' }"
>
  <ng-template pTemplate="header">
    <div class="flex align-items-center justify-content-center">
      <i
        *ngIf="dialogData.dialogType === 1"
        class="pi pi-exclamation-triangle flex align-items-center"
        style="font-size: 1.25rem; color: #f59e0b"
      ></i>
      <i
        *ngIf="dialogData.dialogType === 2"
        class="pi pi-times-circle flex align-items-center"
        style="font-size: 1.25rem; color: #f50b0b"
      ></i>

      <span
        class="font-bold ms-2"
        style="font-size: 1.25rem; line-height: 2.25rem"
        >{{ dialogData.dialogTitle }}</span
      >
    </div>
  </ng-template>
  <span class="p-text-secondary block mb-5 text-center">{{
    dialogData.dialogMessage
  }}</span>

  <div class="flex gap-2 mt-3">
    <p-button
      label="Okay"
      severity="secondary"
      (onClick)="visibleDialog = false"
      class="mx-auto"
      styleClass="p-button-sm custom-small-btn"
    />
  </div>
</p-dialog>
