<p-tabView>
  <p-tabPanel header="Tag Mappings">
    <div *ngIf="tagMappings.length === 0" class="text-center p-4">
      No mappings found for this tag.
    </div>
    <p-table [value]="tagMappings" styleClass="p-datatable-sm" *ngIf="tagMappings.length > 0">
      <ng-template pTemplate="header">
        <tr>
          <th *ngIf="tag.searchByBranch">Branch</th>
          <th *ngIf="tag.searchByProduct">Product</th>
          <th *ngIf="tag.searchByFormCheck">Form Check</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-mapping>
        <tr>
          <td *ngIf="tag.searchByBranch">{{ mapping.branchName }}</td>
          <td *ngIf="tag.searchByProduct">{{ mapping.productName }}</td>
          <td *ngIf="tag.searchByFormCheck">{{ mapping.formCheckName }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
  <p-tabPanel header="Check Inventory">
    <div *ngIf="checkInventories.length === 0" class="text-center p-4">
      No check inventory found for this tag.
    </div>
    <p-table [value]="checkInventories" styleClass="p-datatable-sm" *ngIf="checkInventories.length > 0">
      <ng-template pTemplate="header">
        <tr>
          <th>Starting Series</th>
          <th>Ending Series</th>
          <th>Is Used</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-inventory>
        <tr>
          <td>{{ inventory.startingSeries }}</td>
          <td>{{ inventory.endingSeries }}</td>
          <td>{{ inventory.isUsed ? 'Yes' : 'No' }}</td>
        </tr>
      </ng-template>
    </p-table>
  </p-tabPanel>
</p-tabView> 