<div class="row">
  <div class="d-flex mb-2 justify-content-between">
    <h2>Bank List</h2>
    <button 
        pButton 
        pRipple 
        label="Register New Bank" 
        icon="pi pi-plus"
        class="p-button-success">
    </button>
  </div>
</div>

<p-table
  [rowHover]="true"
  [value]="bankInfos"
  class="p-datatable-sm"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Bank Name</th>
      <th>Short Name</th>
      <th>Description</th>
      <th>Created Date</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-bank>
    <tr style="cursor: pointer" (click)="navigateToBank(bank)">
      <td>{{ bank.bankName }}</td>
      <td>{{ bank.bankShortName }}</td>
      <td>{{ bank.bankDescription }}</td>
      <td>{{ bank.createdDate }}</td>
    </tr>
  </ng-template>
</p-table>
