<p-table [value]="tagMappings">
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Is Default</th>
      <th>Search By Branch</th>
      <th>Search By Account</th>
      <th>Search By Form Check</th>
      <th>Search By Product</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-tag>
    <tr>
      <td>{{tag.tagName}}</td>
      <td>{{tag.isDefaultTag}}</td>
      <td>{{tag.searchByBranch}}</td>
      <td>{{tag.searchByAccount}}</td>
      <td>{{tag.searchByFormCheck}}</td>
      <td>{{tag.searchByProduct}}</td>
  </ng-template>

</p-table>