<div class="modal-header">
    <h4 class="modal-title pull-left">{{ title }}</h4>
    <button type="button" class="btn-close close pull-right">
        <span class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form id="addBranchForm" #addBranchForm="ngForm" autocomplete="off" (ngSubmit)="addBranch()">
        <h2 class="text-center"> ADD NEW BRANCH</h2>
        <hr />
        <div class="row">
            <div class="col-6">
                <div class="mb-3 form-floating">
                    <input type="text"
                           class="form-control"
                           name="branchName"
                           [(ngModel)]="model.branchName"
                           placeholder="Short Name" />
                    <label>Branch Name</label>
                </div>
            </div>
            <div class="col-6">
                <div class="mb-3 form-floating">
                    <input type="text"
                           class="form-control"
                           name="brstnCode"
                           [(ngModel)]="model.brstnCode"
                           placeholder="Complete Name" />
                    <label>BRSTN Code</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="mb-3 form-floating">
                    <input type="text"
                           class="form-control"
                           name="branchCode"
                           [(ngModel)]="model.branchCode"
                           placeholder="Branch Code" />
                    <label>Branch Code</label>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3 form-floating">
                    <select class="form-control"
                           name="mergingBranchId"
                           [(ngModel)]="model.mergingBranchId"
                           placeholder="Merging To">
                           <option value=""></option>
                           @for (branch of branches; track $index) {
                            <option value="{{branch.id}}">{{branch.branchName}}</option>
                           }
                    </select>
                    <label>Merging to</label>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3 form-floating">
                    <select class="form-control"
                           name="tagId"
                           [(ngModel)]="model.tagId"
                           placeholder="tagId">
                           <option value=""></option>
                           @for (tag of tags; track $index) {
                            <option value="{{tag}}">{{tag}}</option>
                           }
                    </select>
                    <label>Tag</label>
                </div>
            </div>
        </div>

        <div class="mb-3 form-floating">
            <input type="text"
                   class="form-control"
                   name="branchAddress1"
                   [(ngModel)]="model.branchAddress1"
                   placeholder="Address" />
            <label>Address 1</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="text"
                   class="form-control"
                   name="branchAddress2"
                   [(ngModel)]="model.branchAddress2"
                   placeholder="Address" />
            <label>Address 2</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="text"
                   class="form-control"
                   name="branchAddress3"
                   [(ngModel)]="model.branchAddress3"
                   placeholder="Address" />
            <label>Address 3</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="text"
                   class="form-control"
                   name="branchAddress4"
                   [(ngModel)]="model.branchAddress4"
                   placeholder="Address" />
            <label>Address 2</label>
        </div>
        <div class="mb-3 form-floating">
            <input type="text"
                   class="form-control"
                   name="branchAddress5"
                   [(ngModel)]="model.branchAddress5"
                   placeholder="Address" />
            <label>Address 5</label>
        </div>

    </form>
</div>
<div class="modal-footer">
    <div class="d-flex justify-content-between">
        <button type="button" tabindex="-1" class="btn btn-default me-2 btn-sm">Cancel</button>
        <button type="submit"
            class="btn btn-success me-2 btn-sm"
            [disabled]="!addBranchForm.dirty"
            form="addBranchForm"
            ><i class="fa fa-save"></i>Save
        </button>
    </div>

</div>
