<div class="flex justify-content-between align-items-center mb-2">
  <h1>Check Validations</h1>
  <p-button
    label="Add Tag"
    icon="pi pi-plus"
    (onClick)="showAddDialog()"
  ></p-button>
</div>

<p-dialog
  header="Add New Tag"
  [(visible)]="displayAddDialog"
  [modal]="true"
  [style]="{ width: '450px' }"
  class="p-fluid"
>
  <div class="field">
    <label for="tagName">Tag Name</label>
    <input
      type="text"
      pInputText
      id="tagName"
      [(ngModel)]="newTag.tagName"
      required
      autofocus
    />
  </div>
  <div class="field-checkbox">
    <p-checkbox
      [(ngModel)]="newTag.isDefaultTag"
      [binary]="true"
      inputId="isDefault"
    ></p-checkbox>
    <label for="isDefault" class="ml-2">Default Tag</label>
  </div>
  <div class="field-checkbox">
    <p-checkbox
      [(ngModel)]="newTag.searchByBranch"
      [binary]="true"
      inputId="searchByBranch"
    ></p-checkbox>
    <label for="searchByBranch" class="ml-2">Search By Branch</label>
  </div>
  <div class="field-checkbox">
    <p-checkbox
      [(ngModel)]="newTag.searchByAccount"
      [binary]="true"
      inputId="searchByAccount"
    ></p-checkbox>
    <label for="searchByAccount" class="ml-2">Search By Account</label>
  </div>
  <div class="field-checkbox">
    <p-checkbox
      [(ngModel)]="newTag.searchByFormCheck"
      [binary]="true"
      inputId="searchByFormCheck"
    ></p-checkbox>
    <label for="searchByFormCheck" class="ml-2">Search By Form Check</label>
  </div>
  <div class="field-checkbox">
    <p-checkbox
      [(ngModel)]="newTag.searchByProduct"
      [binary]="true"
      inputId="searchByProduct"
    ></p-checkbox>
    <label for="searchByProduct" class="ml-2">Search By Product</label>
  </div>
  <ng-template pTemplate="footer">
    <p-button
      label="Save"
      icon="pi pi-check"
      (onClick)="saveNewTag()"
    ></p-button>
    <p-button
      label="Cancel"
      icon="pi pi-times"
      (onClick)="hideAddDialog()"
      class="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>

<p-toast></p-toast>

<p-table
  [value]="tags"
  [tableStyle]="{ 'min-width': '50rem' }"
  [scrollable]="true"
  [scrollHeight]="'500px'"
  styleClass="p-datatable-sm"
  editMode="row"
  dataKey="id"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="text-center">Tag Name</th>
      <th class="text-center">Default Tag</th>
      <th class="text-center">Search By Branch</th>
      <th class="text-center">Search By Account</th>
      <th class="text-center">Search By Form Check</th>
      <th class="text-center">Search By Product</th>
      <th class="text-center">Is Locked</th>
      <th class="text-center">Actions</th>
    </tr>
  </ng-template>
  <ng-template
    pTemplate="body"
    let-tag
    let-editing="editing"
    let-rowIndex="rowIndex"
  >
    <tr [pEditableRow]="tag">
      <td class="text-center">
        <a 
          href="javascript:void(0)" 
          class="text-primary cursor-pointer hover:underline"
          (click)="showTagDetail(tag)"
        >
          {{ tag.tagName }}
        </a>
      </td>
      <td class="text-center">
        <p-checkbox
          [binary]="true"
          [(ngModel)]="tag.isDefaultTag"
          [disabled]="!editing"
          inputId="default-{{ tag.id }}"
        ></p-checkbox>
      </td>
      <td class="text-center">
        <p-checkbox
          [binary]="true"
          [(ngModel)]="tag.searchByBranch"
          [disabled]="!editing"
          (onChange)="onSearchOptionChange(tag, 'searchByBranch')"
          inputId="branch-{{ tag.id }}"
        ></p-checkbox>
      </td>
      <td class="text-center">
        <p-checkbox
          [binary]="true"
          [(ngModel)]="tag.searchByAccount"
          [disabled]="!editing"
          (onChange)="onSearchOptionChange(tag, 'searchByAccount')"
          inputId="account-{{ tag.id }}"
        ></p-checkbox>
      </td>
      <td class="text-center">
        <p-checkbox
          [binary]="true"
          [(ngModel)]="tag.searchByFormCheck"
          [disabled]="!editing"
          (onChange)="onSearchOptionChange(tag, 'searchByFormCheck')"
          inputId="formcheck-{{ tag.id }}"
        ></p-checkbox>
      </td>
      <td class="text-center">
        <p-checkbox
          [binary]="true"
          [(ngModel)]="tag.searchByProduct"
          [disabled]="!editing"
          (onChange)="onSearchOptionChange(tag, 'searchByProduct')"
          inputId="product-{{ tag.id }}"
        ></p-checkbox>
      </td>

      <td class="text-center">
        <p-checkbox
          [binary]="true"
          [(ngModel)]="tag.isLocked"
          [disabled]="!editing"
          (onChange)="onSearchOptionChange(tag, 'searchByProduct')"
          inputId="product-{{ tag.id }}"
        ></p-checkbox>
      </td>
      <td class="text-center">
        <div class="flex justify-content-center gap-2">
          <!--Lock Tag Button-->
          <button
            *ngIf="!editing && !tag.isLocked"
            pButton
            type="button"
            icon="pi pi-lock"
            class="p-button-rounded p-button-text"
            (click)="onLockTag(tag)"
          ></button>
          <!--Edit Tag Button-->
          <button
            *ngIf="!editing && !tag.isLocked"
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded p-button-text"
            pInitEditableRow
            (click)="onRowEditInit(tag)"
          ></button>
          <!--Delete Tag Button-->
          <button
            *ngIf="!editing"
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded p-button-text"
            (click)="onDeleteTag(tag)"
          ></button>
          <!--Save Tag Button-->
          <button
            *ngIf="editing"
            pButton
            type="button"
            icon="pi pi-check"
            class="p-button-rounded p-button-text p-button-success"
            pSaveEditableRow
            (click)="onRowEditSave(tag)"
          ></button>
          <!--Cancel Tag Button-->
          <button
            *ngIf="editing"
            pButton
            type="button"
            icon="pi pi-times"
            class="p-button-rounded p-button-text p-button-danger"
            pCancelEditableRow
            (click)="onRowEditCancel(tag)"
          ></button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
