@if (bankInfo && checkValidation) {

<div class="d-flex justify-content-between mb-3">
  <h4>
    {{ bankInfo.bankName }} Tag List
  </h4>
  <div class="d-flex justify-content-end">
      <button
        class="btn btn-success me-2 btn-sm"
        [routerLink]="['/add-tag', checkValidation.id, 'bank', bankInfo.id ]"
        type="button"
        tabindex="-1"
        >
        ADD NEW TAG
      </button>

      <button
        class="btn btn-danger me-2 btn-sm"
        routerLink="/banks/{{ bankInfo.id }}"
        type="button"
        tabindex="-1"
        >
        BACK TO BANK INFO
      </button>
  </div>
</div>

  @if(tags.length > 0){
    @for(tag of tags; track $index){
      <div class="row">
        <div class="col-12">
            <div style="background-color: azure;" class="p-4 pb-0">
              <div class="d-flex justify-content-between">
                <h4>{{ tag.name | uppercase }}</h4>
                <div class="d-flex justify-content-start">
                  <button type="button" [routerLink]="['/add-tag-mapping', tag.id, 'checkValidation', checkValidation.id, 'bank', bankInfo.id ]" class="btn btn-sm py-0 btn-outline-primary me-2">Add Mapping</button>
                  <button type="button" [routerLink]="['/edit-tag', tag.id, 'checkValidation', checkValidation.id, 'bank', bankInfo.id ]" class="btn btn-sm py-0 btn-outline-warning me-2">Edit</button>
                  <button type="button" class="btn btn-sm py-0 btn-outline-danger me-2" (click)="deleteTag(tag.id, $event)">Delete</button>
                  <button type="button" class="btn btn-sm py-0 btn-outline-info me-2" (click)="toggletagMappingVisibility(tag.id)">
                    @if(!isTagMappingVisible(tag.id)){
                      <i class="fa fa-arrow-down text-primary"></i> {{ tag.mapping.length }}
                    }
                    @else {
                      <i class="fa fa-arrow-up text-danger"> {{ tag.mapping.length }}</i>
                    }
                  </button>
                </div>
              </div>
              <app-tag-mapping-list *ngIf="tag.mapping.length > 0 && isTagMappingVisible(tag.id)" [mapping]="tag.mapping" [bankInfo]="bankInfo" [tag]="tag"></app-tag-mapping-list>
        </div>
      </div>
      </div>
    }
  }
}
