<div class="table-responsive">
    <table class="table table-sm text-sm"  width="100%">
        <thead>
            <tr>
                <th>Check Type</th>
                <th>Form Type</th>
                <th>Description</th>
                <th>File Initial</th>
                <th>Quantity</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let formCheck of formChecks">
                <td>{{ formCheck.checkType }}</td>
                <td>{{ formCheck.formType }}</td>
                <td>{{ formCheck.description }}</td>
                <td>{{formCheck.fileInitial}}</td>
                <td>{{ formCheck.quanitity }}</td>
                <td class="text-center">
                    <div class="d-flex justify-content-center">
                        @if(productType()){
                            <button type="button" [routerLink]="['/edit-form-check',formCheck.id,'product', productType().productId , 'bank', bankInfo().id]" class="btn text-primary btn-sm me-3">
                                <i class="fa fa-edit"></i> EDIT
                            </button>
                        }
                        <button type="button" class="btn btn-sm text-danger" (click)="deleteFormCheck(formCheck.id, $event)"> <i class="fa fa-trash"></i> Delete </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>