@if(batches){
  <div class="table-responsive">
    <table class="table table-sm" width="100%">
      <thead>
        <tr>
          <th>#</th>
          <th>Batch</th>
          <th>No of Files</th>
          <th>Date Upload</th>
          <th>Status</th>
          <th class="text-center">Action</th>
        </tr>
      </thead>
      <tbody>

        <tbody>

          @for (batch of batches; track $index) {
              <tr>
                  <td>{{ $index + 1 }}</td>
                  <td title="{{ batch.id }}">{{ batch.batchName }}</td>
                  <td>{{ batch.orderNumber }}</td>
                  <td>{{ batch.createdDate | date: "MMM dd, yyyy"}}</td>
                  <td> @if(!batch.batchFileStatus){
                        <strong class="text-primary">New</strong>
                      }
                      @else{
                        <span class="text-sucess">Processed</span>
                      }
                    </td>
                  <td>
                      <div class="d-flex justify-content-center">
                          <button type="button" [routerLink]="['/upload-order-files', batch.id, 'bank', bankInfo().id]"  class="btn btn-sm btn-outline-info me-2"><i class="fa fa-file mx-1"></i>View </button>
                          <button type="button" (click)="onDeleteBatch(batch.id)" class="btn btn-sm btn-outline-danger me-2"><i class="fa fa-trash-o mx-1"></i>Delete</button>
                      </div>
                  </td>
              </tr>
          }
      </tbody>
    </table>
  </div>
}
