<!-- <p>edit-check-validation works!</p>
@if(bankInfo && checkValidation){

  <div class="row d-flex justify-content-center">
    <div class="col-4">
      <form id="editCheckValidationForm" #editCheckValidationForm="ngForm" autocomplete="off" (ngSubmit)="updateCheckValidation()">
        <h2 class="text-center"> Update Check Validation </h2>
        <hr />

        <div class="mb-4 form-floating">
          <input
            type="text"
            class="form-control"
            [(ngModel)]="checkValidation.name"
            placeholder="Validation Name"
            name="name"/>
          <label>Validation Name</label>
        </div>
        <div class="mb-4 form-floating">
          <select class="form-control"
              [(ngModel)]="checkValidation.validationType"
              name="validationType">
              <option value="{{ checkValidation.validationType }}">{{ checkValidation.validationType }}</option>
              @for(validationType of validationTypes; track $index){
                @if(checkValidation.validationType != validationType){
                  <option value="{{ validationType }}">{{ validationType }}</option>
                }
              }
          </select>
          <label>Form Check (optional)</label>
        </div>
        <div class="d-flex justify-content-between">
          <button
              class="btn btn-outline-secondary me-2 btn-sm"
              routerLink="/banks/{{ bankInfo.id }}"
              type="button"
              tabindex="-1"
              >
              Cancel
              </button>

          <button
            class="btn btn-success me-2 btn-sm"
            [disabled]="!editCheckValidationForm.dirty"
            type="submit"
          >
            <i class="fa fa-save"></i>
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
  @if(editCheckValidationForm.dirty){
  <div class="row">
    <div class="col-4 mt-3 offset-4 text-center text-sm">
      <div class="alert alert-warning pb-0">
        <p>
          <strong>Warning: </strong>
          Any unsaved changes will be lost.
        </p>
      </div>
    </div>
  </div>
  }
} -->
