@if(productConfigurations){
  <div class="row mb-5">
  <div class="col-4 p-4" style="background-color: azure;">
    <ol>
        @for (productConfiguration of productConfigurations; track $index) {
          <li class="mb-2">
            <div class="d-flex justify-content-between">
                <strong (click)='getConfigurationData(productConfiguration.id)' class="text-primary">{{ productConfiguration.productName }}</strong>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-danger btn-sm py-1 me-1"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-primary btn-sm py-1 me-1"><i class="fa fa-edit"></i></button>
                </div>
            </div>
        </li>
        }

    </ol>
  </div>
  <div class="col-8 p-3 rounded mb-5" style="border: 1px solid blue;">
    <!-- <app-edit-configuration></app-edit-configuration> -->
    <h2 class="text-center text-primary"> ADD NEW CONFIGURATION DATA</h2>
    <hr />
    <form id="editProductConfigurationForm" #editProductConfigurationForm="ngForm" autocomplete="off" (ngSubmit)="editProductConfiguration()">
        <div class="mb-3 form-floating">
            <input type="text"
                  class="form-control"
                  name=""
                  [(ngModel)]="model.productName"
                  placeholder="File Name" />
            <label>File Name</label>
        </div>
        <div class="NgxEditor__Wrapper mb-3">
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <div class="ngxEditorSubWrapper">
                <ngx-editor class="ngxEditor" [editor]="editor" name="configuratonData" [(ngModel)]="model.configuratonData" [disabled]="false" [placeholder]="'Type here..'"></ngx-editor>
            </div>
        </div>
        <button type="button" class="btn btn-success float-end"><i class="fa fa-save"></i> SAVE</button>

    </form>
  </div>
</div>
}
