<ol>
    <li class="mb-2">
        <div class="d-flex justify-content-between">
            <strong (click)='getConfigurationData("1")'>Configuration Data 1</strong> 
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-danger btn-sm py-1 me-1"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-primary btn-sm py-1 me-1"><i class="fa fa-edit"></i></button>
            </div>
        </div>

    </li>
    <li class="mb-2">
        <div class="d-flex justify-content-between">
            <strong (click)='getConfigurationData("1")'>Configuration Data 2</strong> 
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-danger btn-sm py-1 me-1"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-primary btn-sm py-1 me-1"><i class="fa fa-edit"></i></button>
            </div>
        </div>

    </li>
    <li>
        <div class="d-flex justify-content-between">
            <strong (click)='getConfigurationData("1")'>Configuration Data 3</strong> 
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-danger btn-sm py-1 me-1"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn btn-primary btn-sm py-1 me-1"><i class="fa fa-edit"></i></button>
            </div>
        </div>

    </li>
</ol>