<div class="d-flex justify-content-between">
    <h3>{{ bank?.bankName }}</h3> 
    <button routerLink="/banks" class="btn btn-outline-secondary btn-sm float-end">Back To Bank List</button>
</div>

<div class="row">
    <div class="col-12">
        <tabset class="bank-tabset" #bankTabs>
          
            <tab heading="File Processes">
                <div class="table-responsive">
                    <table class="table table-sm" width="100%">
                        <thead>
                            <tr>
                                <th>Batch</th>
                                <th>No of Files</th>
                                <th>Date Upload</th>
                                <th>Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (file of bank?.fileProcesses; track $index) {
                                <tr>
                                    <td>{{ file.batchName }}</td>
                                    <td>{{ file.noOfFiles }}</td>
                                    <td>{{ file.dateOfUpload | date: "MMM dd, YYYY" }}</td>
                                    <td>{{ file.fileStatus }}</td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-success btn-sm">Details</button>
                                            <button class="btn btn-info btn-sm mx-1">Edit</button>
                                            <button class="btn btn-danger btn-sm">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab heading="Check Inventory">
                <div class="table-responsive mt-3">
                    <table class="table table-sm" width="100%">
                        <thead>
                            <tr>
                                <th>Starting File</th>
                                <th>Ending File</th>
                                <th>Check Orders</th>
                                <th>Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (check of bank?.checkInventories; track $index) {
                                <tr>
                                    <td>{{ check.startingSeries }}</td>
                                    <td>{{ check.endingSeries }}</td>
                                    <td>{{ check.checkOrderId }}</td>
                                    <td>
                                        @if (check.isUsed) {
                                            <span class="text-danger">USED</span>
                                        } @else {
                                            <span class="text-success">AVAILABLE</span>
                                        }
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">

                                            <button class="btn btn-success btn-sm">Details</button>
                                            <button class="btn btn-info btn-sm mx-1">Edit</button>
                                            <button class="btn btn-danger btn-sm">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab heading="Branches">
                <div class="table-responsive">
                    <table class="table table-sm" width="100%">
                        <thead>
                            <tr>
                                <th>Branch Name</th>
                                <th>BRSTN</th>
                                <th>Address 1</th>
                                <th>Address 2</th>
                                <th>Merging</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (branch of bank?.branches; track $index) {
                                <tr>
                                    <td>{{ branch.branchName }}</td>
                                    <td>{{ branch.brstnCode }}</td>
                                    <td>{{ branch.address1 }}</td>
                                    <td>{{ branch.address2 }}</td>
                                    <td>{{ branch.isMerging }}</td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-success btn-sm">Details</button>
                                            <button class="btn btn-info btn-sm mx-1">Edit</button>
                                            <button class="btn btn-danger btn-sm">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab heading="Products">
                <div class="table-responsive">
                    <table class="table table-sm" width="100%">
                        <thead>
                            <tr>
                                <th>Product Name</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (product of bank?.products; track $index) {
                                <tr>
                                    <td>{{ product.productName }}</td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            <button class="btn btn-success btn-sm">Details</button>
                                            <button class="btn btn-info btn-sm mx-1">Edit</button>
                                            <button class="btn btn-danger btn-sm">Delete</button>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </tab>
        </tabset>
    </div>
</div>