
<div class="row">
  <div class="col-12">
    
      <div *ngFor="let productType of productTypes" style="background-color: azure;" class="p-4 pb-0">
        <div class="d-flex justify-content-between">
           <h4 style="cursor: pointer;" (click)="toggleFormCheckList(productType.productTypeId)"><strong class="text-primary"> {{ productType.productTypeName | uppercase }} </strong></h4>
          <div class="d-flex justify-content-start">

            <button type="button" [routerLink]="['/add-form-check', productType.productTypeId, 'bank', bankInfo().id]" class="btn btn-info btn-sm me-3">
              <i class="fa fa-plus"></i> ADD FORM CHECK
            </button>
            <button type="button" [routerLink]="['/edit-product-type', productType.productTypeId, 'bank', bankInfo().id]" class="btn btn-warning btn-sm me-3">
              <i class="fa fa-edit"></i> EDIT
            </button>
            <button type="button" (click)="deleteProductType(productType.productTypeId, $event)" class="btn btn-danger btn-sm">
              <i class="fa fa-trash"></i> DELETE
            </button>
          </div>
        </div>
        <app-form-check-list *ngIf="visibleProductTypes[productType.productTypeId] && productType && bankInfo()" [productType]="productType" [bankInfo]="bankInfo()"></app-form-check-list>
      </div>
    
</div>