@if (bankInfo) {
<div class="row d-flex justify-content-center">
  <div class="col-4">
    <form id="addProductTypeForm" #addProductTypeForm="ngForm" autocomplete="off" (ngSubmit)="addProductType()">
      <h2 class="text-center"> Add Product Type</h2>
      <hr />
      <div class="mb-3 form-floating">
        <input
          type="text"
          class="form-control"
          placeholder="Bank Name"
          value="{{ bankInfo.bankName }}"
          disabled
        />
        <label>Bank Name</label>
      </div>
      <div class="mb-3 form-floating">
        <input
          type="text"
          class="form-control"
          name="productName"
          [(ngModel)]="model.productName"
          placeholder="Product Type Name"
        />
        <label>Product Type Name</label>
      </div>
      <div class="mb-3 form-floating">
        <select class="form-control" 
            [(ngModel)]="model.tagId"
            name="tagId">
            <option value=""></option>
            <option value="0">Tag 1</option>
            <option value="1">Tag 2</option>
            <option value="2">Tag 3</option>
        </select>
        <label>Tag Name</label>
      </div>
      <div class="d-flex justify-content-between">
        <button
          class="btn btn-outline-secondary me-2 btn-sm"
          routerLink="/banks/{{ bankInfo.id }}"
          type="button"
          tabindex="-1"
        >
          Cancel
        </button>
        <button
          class="btn btn-success me-2 btn-sm"
          [disabled]="!addProductTypeForm.dirty"
          type="submit"
        >
          <i class="fa fa-save"></i>
          Save
        </button>
      </div>
    </form>
  </div>
</div>
@if(addProductTypeForm.dirty){
<div class="row">
  <div class="col-4 mt-3 offset-4 text-center text-sm">
    <div class="alert alert-warning pb-0">
      <p>
        <strong>Warning: </strong>
        Any unsaved changes will be lost.
      </p>
    </div>
  </div>
</div>
} }
