<div class="flex justify-content-between align-items-center mb-2">
<h1>Product List
</h1>
<p-button
  type="button"
  label="Add Product"
  size="small"
  icon="pi pi-plus"
  class="ml-3"
  (onClick)="openAddProductButtonClick()"></p-button>
</div>
<p-table
  [value]="products"
  [tableStyle]="{ 'min-width': '50rem' }"
  [rows]="5"
  [scrollable]="true"
  [scrollHeight]="'500px'"
  [tableStyle]="{ 'min-width': '50rem' }"
  [paginatorDropdownAppendTo]="'body'"
  styleClass="p-datatable-sm"
  dataKey="productId"
  editMode="row"
>
  <ng-template pTemplate="header">
    <tr>
      <th class="text-center">Product</th>
      <th class="text-center">Sequence</th>
      <th class="text-center">Actions</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-product let-editing="editing" let-rowIndex="rowIndex">
    <tr [pEditableRow]="product">
      <td class="text-center">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" class="text-center" [(ngModel)]="product.productName" />
          </ng-template>
          <ng-template pTemplate="output">
            <a
              [routerLink]="['../product-detail', product.productId]"
              class="no-underline text-primary"
            >
              {{ product.productName }}
            </a>
          </ng-template>
        </p-cellEditor>
      </td>
      <td class="text-center">
        <p-cellEditor>
          <ng-template pTemplate="input">
            <input pInputText type="text" class="text-center" [(ngModel)]="product.productSequence" />
          </ng-template>
          <ng-template pTemplate="output">
              {{ product.productSequence }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td>
        <div
          *ngIf="!editing"
          class="flex justify-content-center align-items-center gap-2"
        >
          <p-button
            type="button"
            label="Edit"
            severity="secondary"
            size="small"
            icon="pi pi-pencil"
            pInitEditableRow
            (onClick)="onRowEditInit(product)"
          />
          <p-button
            type="button"
            label="Delete"
            severity="danger"
            size="small"
            icon="pi pi-trash"
            (click)="deleteProductType(product.productId, $event)"
          />
        </div>
        <div *ngIf="editing" class="flex justify-content-center align-items-center gap-2">
          <p-button
            type="button"
            label="Save"
            severity="success"
            size="small"
            icon="pi pi-check"
            (click)="onRowEditSave(product)"
            pSaveEditableRow
          />
          <p-button
            type="button"
            label="Cancel"
            severity="warning"
            icon="pi pi-times"
            size="small"
            (click)="onCancelEdit(product)"
            pCancelEditableRow
          />
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
