<form [formGroup]="formGroup">
  <div class="formgrid grid">
    <div class="field col mt-5">
      <label for="bankName">Bank Name</label>
      <span class="p-float-label">
        <input class="w-full" pInputText id="bankName" formControlName="bankName" />
      </span>
    </div>

    <div class="field  col mt-5">
      <label for="shortName">Short Name</label>
      <span class="p-float-label">
        <input class="w-full" pInputText id="shortName" formControlName="shortName" />
      </span>
    </div>
  </div>

  <div class="field mt-5">
    <label for="accountNumberFormat">Account Number Format</label>
    <span class="p-float-label">
      <input class="w-full" pInputText id="accountNumberFormat" formControlName="accountNumberFormat" />
    </span>
  </div>
</form>
<div class="flex justify-content-end flex-wrap">
  <p-button class="mx-3" label="Submit" (onClick)="onSubmit()" />
  <p-button label="Cancel" (onClick)="onCancel()" />
</div>