<div>
  <table mat-table [dataSource]="checkInventories" class="mat-elevation-z8 ">
    <ng-container matColumnDef="seriesPattern">
      <th mat-header-cell *matHeaderCellDef>Series pattern</th>
      <td mat-cell *matCellDef="let checkInventory">
        {{ checkInventory.seriesPattern }}
      </td>
    </ng-container>
    <ng-container matColumnDef="warningSeries">
      <th mat-header-cell *matHeaderCellDef>Warning series</th>
      <td mat-cell *matCellDef="let checkInventory">
        {{ checkInventory.warningSeries }}
      </td>
    </ng-container>
    <ng-container matColumnDef="numberOfPadding">
      <th mat-header-cell *matHeaderCellDef>Number of padding</th>
      <td mat-cell *matCellDef="let checkInventory">
        {{ checkInventory.numberOfPadding }}
      </td>
    </ng-container>
    <ng-container matColumnDef="startingSeries">
      <th mat-header-cell *matHeaderCellDef>Starting series</th>
      <td mat-cell *matCellDef="let checkInventory">
        {{ checkInventory.startingSeries }}
      </td>
    </ng-container>

    <ng-container matColumnDef="isRepeating">
      <th mat-header-cell *matHeaderCellDef>Is repeating</th>
      <td mat-cell *matCellDef="let checkInventory">
        {{ checkInventory.isRepeating }}
      </td>
    </ng-container>

    <ng-container matColumnDef="product">
      <th mat-header-cell *matHeaderCellDef>Product</th>
      <td mat-cell *matCellDef="let checkInventory">
        {{ checkInventory.product }}
      </td>
    </ng-container>

    <ng-container matColumnDef="tag">
      <th mat-header-cell *matHeaderCellDef>Tag</th>
      <td mat-cell *matCellDef="let checkInventory">
        {{ checkInventory.tag }}
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
