@if (formCheck) {
    <div class="row d-flex justify-content-center">
      <div class="col-6">
        <form id="editFormCheckForm" #editFormCheckForm="ngForm" autocomplete="off" (ngSubmit)="editFormCheck()">
          <h2 class="text-center"> Edit Form Check</h2>
          <hr />
            <input type="hidden" name="productTypeId" [(ngModel)]="formCheck.productId"/>
            <div class="mb-3 form-floating">
                <input 
                class="form-control" 
                name="checkType"
                [(ngModel)]="formCheck.checkType"
                />
                <label>Check Type</label>
            </div>
            <div class="mb-3 form-floating">
                <input 
                class="form-control" 
                name="formType"
                [(ngModel)]="formCheck.formType"
                />
                <label>Form Type</label>
            </div>
            <div class="mb-3 form-floating">
                <input 
                class="form-control" 
                name="description"
                [(ngModel)]="formCheck.description"
                />
                <label>Description</label>
            </div>

            <div class="row">
                <div class="col-6">
                    <div class="mb-3 form-floating">
                        <input
                        class="form-control" 
                        name="fileInitial"
                        [(ngModel)]="formCheck.fileInitial"
                        />
                        <label>File Initial</label>
                    </div>
                </div>
                <div class="col-6">
                    <div class="mb-3 form-floating">
                        <input type="number"
                        class="form-control" 
                        name="quantity"
                        [(ngModel)]="formCheck.quanitity"
                        />
                        <label>Quantity</label>
                    </div>
                </div>
            </div>
            
            <div class="d-flex justify-content-between">
                <button
                class="btn btn-outline-secondary me-2 btn-sm"
                (click)="goBack()"
                type="button"
                tabindex="-1"
                >
                Cancel
                </button>
                <button
                class="btn btn-success me-2 btn-sm"
                [disabled]="!editFormCheckForm.dirty"
                type="submit"
                >
                <i class="fa fa-save"></i>
                Save
                </button>
            </div>
        </form>
      </div>
    </div>
    @if(editFormCheckForm.dirty){
    <div class="row">
      <div class="col-4 mt-3 offset-4 text-center text-sm">
        <div class="alert alert-warning pb-0">
          <p>
            <strong>Warning: </strong>
            Any unsaved changes will be lost.
          </p>
        </div>
      </div>
    </div>
    } }
    