<p-table
  [rowHover]="true"
  [value]="checkInventories"
  class="p-datatable-sm"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Series Pattern</th>
      <th>Warning Series</th>
      <th>Number of Padding</th>
      <th>Starting Series</th>
      <th>Is Repeating</th>
      <th>Product</th>
      <th>Tag</th>
    </tr>
  </ng-template>

  <ng-template pTemplate="body" let-checkInventory>
    <tr >
      <td>{{ checkInventory.seriesPattern }}</td>
      <td>{{ checkInventory.warningSeries }}</td>
      <td>{{ checkInventory.numberOfPadding }}</td>
      <td>{{ checkInventory.startingSeries }}</td>
      <td>{{ checkInventory.isRepeating }}</td>
      <td>{{ checkInventory.product }}</td>
      <td>{{ checkInventory.tag }}</td>
    </tr>
  </ng-template>
</p-table>
