
<form id="editFormCheckForm" #editFormCheckForm="ngForm" autocomplete="off">
  <div class="col-12 p-3 rounded mb-5" style="border: 1px solid blue;">
    <div class="d-flex justify-content-between mb-3">
      <h3 class="text-center text-primary"> {{ productType?.productTypeName }} Configurations</h3>
      <div class="d-flex justify-content-end" title="Ongoing development">
        <button routerLink="/banks/{{bankInfo?.id}}" class="btn btn-info  me-3">Back to  {{bankInfo?.bankName}} </button>
        @if(!isExists){
          <button type="button" [routerLink]="['/add-configuration', productType?.productTypeId, 'bank', bankInfo?.id]" class="btn btn-success btn-sm me-3">
            <i class="fa fa-plus"></i> Add New Configuration
          </button>
        }

        @else {
          @if(!isEditable){
            <button type="button" class="btn btn-primary float-end" (click)="enableEditConfiguration(isEditable)">Enable Update</button>
          }
          @if(isEditable){
            <button type="button" class="btn btn-danger float-end me-3" (click)="enableEditConfiguration(isEditable)">Cancel</button>
            <button type="submit" class="btn btn-success float-end" (click)="editProductConfiguration()">Save</button>
          }
        }
        

      </div>
    </div>
    <hr />
    <textarea 
    class="form-control"
    rows="25"
    name="configurationData"
    [(ngModel)]="jsonDoc"
    [disabled]="!isEditable" 
    placeholder="No configuration data.."></textarea >
    <!-- <div class="NgxEditor__Wrapper mb-3">
        <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
        <div class="ngxEditorSubWrapper">
            <ngx-editor class="ngxEditor" [editor]="editor" name="configuratonData" [(ngModel)]="jsonDoc" [disabled]="!isEditable" [placeholder]="'No configuration data..'"></ngx-editor>
        </div>
    </div> -->
  </div>
</form>
