<form id="editFormCheckForm" #editFormCheckForm="ngForm" autocomplete="off">
  <div class="col-12 p-3 rounded mb-5" style="border: 1px solid blue">
    <div class="d-flex justify-content-between mb-3">
      <h3 class="text-center text-primary">
        {{ productType?.productName }} Configurations
      </h3>
      <div class="d-flex justify-content-end" title="Ongoing development">
        <button
          routerLink="/banks/{{ bankInfo?.id }}"
          class="btn btn-info me-3"
        >
          Back to {{ bankInfo?.bankName }}
        </button>
        @if(!this.productConfiguration){
        <button
          type="button"
          [routerLink]="[
            '/add-configuration',
            productType?.productId,
            'bank',
            bankInfo?.id
          ]"
          class="btn btn-success btn-sm me-3"
        >
          <i class="fa fa-plus"></i> Add New Configuration
        </button>
        } @else { @if(this.formGroup.disabled){
        <button
          type="button"
          class="btn btn-primary float-end"
          (click)="enableEditConfiguration(isEditable)"
        >
          Enable Update
        </button>
        } @if(this.formGroup.enabled){
        <button
          type="button"
          class="btn btn-danger float-end me-3"
          (click)="cancelEditConfiguration()"
        >
          Cancel
        </button>
        <button
          type="submit"
          class="btn btn-success float-end"
          (click)="onSubmitChanges()"
        >
          Save
        </button>
        } }
      </div>
    </div>
    <hr />

    <form [formGroup]="formGroup">
      <div class="flex flex-row gap-2">
        <!--File Name-->
        <div class="flex flex-column mb-3">
          <label for="fileName">File Name</label>
          <input
            pInputText
            id="fileName"
            class="mx-3"
            formControlName="fileName"
          />
        </div>

        <!--Configuration Type-->
        <div class="flex flex-column mb-3">
          <label for="configurationType">Configuration Type</label>
          <p-selectButton 
            id="configurationType"
            formControlName="configurationType"
            [options]="configurationTypes"
            optionLabel="label"
            optionValue="value"
          />
        </div>
      </div>

      <!--Configuration Data-->
      <textarea
        class="form-control"
        rows="25"
        name="configurationData"
        formControlName="configurationData"
        placeholder="No configuration data.."
      ></textarea>
    </form>
  </div>
</form>
