@if(!registerMode){

<div style="text-align: left">
  <div class="row" id="home">
    <div class="col-8">
      <h1>Welcome to Captive</h1>
    </div>
    <div class="col-4">
      <button
        type="button"
        class="float-end btn btn-sm btn-primary"
        (click)="registerToggle()"
      >
        <i class="fa fa-user"></i> Register
      </button>
    </div>
    <div class="col-12">
      <div class="p-5 text-center bg-body-tertiary rounded-3">
        <carousel [itemsPerSlide]="5"
          [singleSlideOffset]="true"
          [startFromIndex]="6"
          [interval]="0">
          <slide><img src="../../../assets/images/banks/bankcom.png" alt="image slide" style="width: 100%;margin-left: 3px;height: 240px;"></slide>
          <slide><img src="../../../assets/images/banks/bdo.png" alt="image slide"  style="width: 100%;margin-left: 3px;height: 240px;"></slide>
          <slide><img src="../../../assets/images/banks/bpi.png" alt="image slide"  style="width: 100%;margin-left: 3px;height: 240px;"></slide>
          <slide><img src="../../../assets/images/banks/chinabank.png" alt="image slide" style="width: 100%;margin-left: 3px;height: 240px;"></slide>
          <slide><img src="../../../assets/images/banks/citibank.png" alt="image slide" style="width: 100%;margin-left: 3px;height: 240px;"></slide>
          <slide><img src="../../../assets/images/banks/dbp.png" alt="image slide" style="width: 100%;margin-left: 3px;height: 240px;"></slide>
          <slide><img src="../../../assets/images/banks/eastwest.png" alt="image slide" style="width: 100%;margin-left: 3px;height: 240px;"></slide>
          <slide><img src="../../../assets/images/banks/landbank.png" alt="image slide" style="width: 100%;margin-left: 3px;height: 240px;"></slide>
          <slide><img src="../../../assets/images/banks/maybank.png" alt="image slide" style="width: 100%;margin-left: 3px;height: 240px;"></slide>
          <slide><img src="../../../assets/images/banks/metrobank.png" alt="image slide" style="width: 100%;margin-left: 3px;height: 240px;"></slide>
          <slide><img src="../../../assets/images/banks/pbcom.png" alt="image slide" style="width: 100%;margin-left: 3px;height: 240px;"></slide>
          <slide><img src="../../../assets/images/banks/pnb.png" alt="image slide" style="width: 100%;margin-left: 3px;height: 240px;"></slide>
           
        </carousel>
        <!-- <h1 class="text-body-emphasis py-5">Add cool stuff here... images, buttons, etc...</h1> -->
      </div>
    </div>
    <div class="col-12">
      <hr />

      <h2>SAMPLE INFORMATION BELOW</h2>
      <h4 class="pt-3">MODULES</h4>
        <ul>
          <li>
            <strong class="text-info">Ordering</strong> - uploading order files, checking check inventories and other related tasks for processing of order files.
          </li>
          <li>
            <strong class="text-info">Accounting</strong> - another module that only available for allowed users to view accounting stuff.
          </li>
        </ul>

        <h4 class="pt-3">USERS</h4>
        <p> - users of this appications that already registered and with login credentials. Users has different types of accessibilities depends on a user role and permissions, such as:</p>
          <ul>
            <li>
              <strong class="text-info">Super Admin</strong> - can access everything inside this app including the source code.
            </li>
            <li>
              <strong class="text-info">Admin</strong> - has permission to give access to users, and assign roles and permissions.
            </li>
            <li>
              <strong class="text-info">Other Roles (manager, supervisor, encoder, etc..)</strong> - can have multipe permissions as assigned by the admin depends on their level of accessibilities.
            </li>
          </ul>

        <h4 class="pt-3">BANK LIST</h4>
          <p>
            - is only available after logged in <br>
            - have their own branches, order file details, and check inventory details, and etc..
          </p>

      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur magnam
        nam, beatae saepe praesentium sunt itaque, ipsa inventore consequatur
        tempore eveniet? Similique laboriosam odit aut iste dolorum, possimus
        qui esse!
      </p>
    </div>
  </div>
</div>
} @else {
<div style="text-align: center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (canceRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>
}
