<div class="table-responsive">

<table class="table table-sm text-center table-bordered" width="100%">
    <thead>
        <tr>
            <th>USERNAME</th>
            <th>NICKNAME</th>
            <th>GENDER</th>
            <th>BIRTH DATE</th>
            <th>REGISTERED DATE</th>
            <th>LAST ACTIVE DATE</th>
            <th>ACTION</th>
        </tr>
    </thead>
    <tbody>
        @for (user of userService.users(); track $index) {
            <tr>
                <td>{{ user.userName | titlecase }}</td>
                <td>{{ user.knownAs | titlecase }}</td>
                <td>{{ user.gender | titlecase }}</td>
                <td>{{ user.dateOfBirth | date: "MMM dd, yyyy"}}</td>
                <td>{{ user.created | date: "MMM dd, yyyy"}}</td>
                <td>{{ user.lastActive | date: "MMM dd, yyyy"}}</td>
                <td>
                    <div class="d-flex">
                        <button type="button" class="btn btn-sm py-0 btn-primary">Banks</button>
                        <button type="button" class="btn btn-sm py-0 btn-warning mx-1"> Edit Role </button>
                        <button type="button" class="btn btn-sm py-0 btn-danger">Delete</button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
